#plane{
    width: 450px;
    height: 225px;
    background-color: white;
    z-index: 2;
}

#canvas_container{
    width: 450px;
    height: 225px;
    position: relative;
    z-index: 1;
}

#canvas_point{
    width: 0;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}